body,
html {
    height: 100%;
}

.hero {
    background-image: url(../img/img1.png);
    /* Set a specific height */
    height: 50%;
    padding: 0%;
    margin: 0%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
}

li {
    float: right;
}

a {
    display: block;
    padding: 8px;
    color: white;
}

.sect2 {
    text-align: center;
    padding: 10%;
}

.footer_s {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: green;
    color: white;
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
}

.logo_f {
    transform: translate(-50%, -50%);
    top: 0%;
    border: 10px;
    border-color: blue;
}

.centerh {
    text-align: center;
}